:root {
    --icon: rgba(168, 168, 168, 1);
    --style: rgba(209, 209, 209, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --ligth-blue: rgba(41, 171, 226, 1);
    --version-2main-color: rgba(42, 54, 71, 1);
    --version-2-body-font-family: "Inter-Regular", Helvetica;
    --version-2-body-font-weight: 400;
    --version-2-body-font-size: 16px;
    --version-2-body-letter-spacing: 0px;
    --version-2-body-line-height: 120.00000476837158%;
    --version-2-body-font-style: normal;
    --version-2-t7-font-family: "Inter-Regular", Helvetica;
    --version-2-t7-font-weight: 400;
    --version-2-t7-font-size: 12px;
    --version-2-t7-letter-spacing: 0px;
    --version-2-t7-line-height: 120.00000476837158%;
    --version-2-t7-font-style: normal;
    --version-2-t6-font-family: "Inter-Regular", Helvetica;
    --version-2-t6-font-weight: 400;
    --version-2-t6-font-size: 20px;
    --version-2-t6-letter-spacing: 0px;
    --version-2-t6-line-height: 120.00000476837158%;
    --version-2-t6-font-style: normal;
    --version-2-t5-font-family: "Inter-Regular", Helvetica;
    --version-2-t5-font-weight: 400;
    --version-2-t5-font-size: 27px;
    --version-2-t5-letter-spacing: 0px;
    --version-2-t5-line-height: 120.00000476837158%;
    --version-2-t5-font-style: normal;
    --version-2-t2-font-family: "Inter-Medium", Helvetica;
    --version-2-t2-font-weight: 500;
    --version-2-t2-font-size: 47px;
    --version-2-t2-letter-spacing: 0px;
    --version-2-t2-line-height: 120.00000476837158%;
    --version-2-t2-font-style: normal;
    --version-2-t1-font-family: "Inter-Bold", Helvetica;
    --version-2-t1-font-weight: 700;
    --version-2-t1-font-size: 61px;
    --version-2-t1-letter-spacing: 0px;
    --version-2-t1-line-height: 120.00000476837158%;
    --version-2-t1-font-style: normal;
    --drop-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
    --nuevo: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    --stronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --shadoe-backlog-box: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    --barra-superior: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    --variable-collection-blue-85-DA: rgba(18, 70, 88, 1);
  }
  