<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/loginStyle.css" />
    <title>Login</title>
</head>
<body>
    <div class="headerLogin">
        <img src="/assets/img/Capa 2.png" alt="">
        <div class="signupHeader">
            <p>Not a Join user?</p>
            <a href="/templates/signup.html"><button class="hoverDarkBtn">Sign up</button></a>
        </div>
    </div>
    <div class="login">
        <div class="headlineLoginForm"><span>Log in</span>
            <div class="underline"></div>
        </div>
        <div class="form-container">
            <form id="loginForm" onsubmit="submitForm(event)">
                <div class="input-container">
                    <input oninput="checkEmail()" id="emailInput" required type="email" placeholder="Email">
                    <img src="/assets/img/mail.png" alt="picture of mail">
                </div>
                <div id="emailError" class="d-none">Invalid email address</div>
                <div class="input-container">
                    <input id="passwordInput" required type="password" placeholder="Password">
                    <img src="/assets/img/lock.png" alt="picture of Lock">
                </div>
                <div class="footerLoginForm">
                        <div class="rememberme">
                            <input id="rememberCheckbox" required type="checkbox">
                            <p onclick="toggleCheckbox()">Remember me</p>
                        </div>
                    <a> Forgot my password</a>
                </div>
                <div class="loginBtn">
                    <input class="hoverDarkBtn" type="submit" value="Log in">
                    <div onclick="guestLogin()"> Guest Log in</div>
                </div>
            </form>
        </div>

    </div>

    <div class="loginFooter">
        <div class="legalNotice">
            <a>Privacy Policy</a>
            <a>Legal notice</a>
        </div>
    </div>
    
</body>
</html>