<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/summaryStyle.css" />
    <title>summary</title>
  </head>
<body>

    <div class="headline">
        <h2>Join 360</h2>
        <div></div>
        <p>Key Metrics at a Glance</p>
    </div>

    <div class="bodySummary">
      <div class="summarySelektor1">
        <div class="todo tile">
          <div class="doneImg">
            <img src="/assets/img/todo.svg" alt="">
          </div>
          <div class="doneCount">
            <p>1<span>To-do</span></p>
          </div>
        </div>
        <div class="done tile">
          <div class="doneImg">
            <img src="/assets/img/done.svg" alt="">
          </div>
          <div class="doneCount">
            <p>1<span>Done</span></p>
          </div>
        </div>
      </div>
      <div class="summarySelektor2 tile">
          <div class=""><div class="group7"><img src="/assets/img/Prio alta.svg" alt=""></div></div>
          <div class=""><img src="/assets/img/vector.svg" alt=""></div>
          <div class="frame68">
            <p>October 16, 2022</p>
            <p>Upcoming Deadline</p>
          </div>
          <div class="greetings">
            <p>Good Morning,</p>
            <p>Sofia Müller</p>
          </div>
      </div>
      <div class="summarySelektor3">
        <div class="square-button tile">
          <div class="frame">
            <div class="element">5</div>
            <div class="tasks-on-board">Task in<br />Board</div>
          </div>
      </div>
        <div class="square-button tile">
          <div class="frame">
            <div class="element">2</div>
            <div class="tasks-on-board">Task in<br />Progress</div>
          </div>
      </div>
        <div class="square-button tile">
          <div class="frame">
            <div class="element">2</div>
            <div class="tasks-on-board">Awaiting<br />Feedback</div>
          </div>
      </div>
    </div>



</body>
</html>